<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<h1> Graph Plotter </h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</nav>
	<div id=main>
		<div id=content>
			<h1>Welcome to the project</h1>
			<ol>
				<li>This application presents graphical representation of live data collected.</li>
				<li>Users have the luxury of viewing the representation in three different ways :-
					<dl>
						<dt><b> Default View :</b></dt>
						<dd> Displays the graph of all the data points collected.</dd>
						<dt><b> 5 min View :</b></dt>
						<dd> Displays the graph of data points collected in last 5 minutes.</dd>
						<dt><b> 15 min View :</b></dt>
						<dd> Displays the graph of data points collected in last 15 minutes.</dd>
					</dl>
				</li>
				<li>The new data point collected is continuously retreived and updated on the graph.</li>
				<li>Various options like zooming, panning, etc is also provided to analyze the data closely.</li>
				<li><i>Please login to view the graph.</i></li>
			</ol>
		</div>
	</div>
</body>
</html>