<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<h4> Project </h4>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</nav>
	<div id=main>
		<div id=content>
			<h1>Welcome to the project</h1>
			<p>Login to see the graph plot</p>
		</div>
	</div>
</body>
</html>