<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<h1> Graph Plotter </h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</nav>
	<div id=main>
		<div id=loginCard>
			<div id="cardHeader">
				<h1>Login to see the graph</h1>
			</div>
			<div id="cardBody">
				<form action="/auth/login" method="POST">
					<div class="input-group">
						<label>Username</label>
						<input type="text" name="username" >
					</div>
					<div class="input-group">
						<label>Password</label>
						<input type="password" name="password">
					</div>
					<div class="input-group">
						<button type="submit" class=btn>Login</button>
					</div>
					<h3>
						Not yet a member? Contact Administrator..
					</h3>
					{{#if message }}
						<div class=error>
							<h4>{{message}}</h4>
						</div>
					{{/if}}
				</form>
			</div>
		</div>
	</div>	
</body>
</html>