html, body{
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
}


.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 5px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 20px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.btn:hover {
	color:white;
}

.plot-container.plotly {
	width:100%;
	height:100%;
}



nav{
	background-color: #563d7c;
	color: #fff;
	padding: 30px 60px;
	display: flex;
	justify-content: space-between; 
	
}

nav ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li{
	list-style: none;
}

nav li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 8px;
}

nav li a:hover{
	color: yellow;
	text-decoration: none;
}



#main {
	display: block;
	height: 85%;
	width: 100%;
}

#options {
	height: 5%;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	display: flex;
	justify-content: space-around;
}

.optionsBtn{
	width: 45%;
	display: flex;
	justify-content: inherit;
}

#graphMain{
	display: flex;
	width: 100%;
	height: 95%;
	background-color: #3d3d40;
}

#graphDiv{
	background-color: #3d3d40;
	width: 100%;
	padding: 5px;
	display: block;
}

#tableDiv{
	background-color: white;
	padding: 5px;
}

#tbl {
	width:100%;
}

table, th, td{
	border: 1px solid black;
	text-align: center;
}

.dltBtn {
	background-color: #FA7E7E;

}

.scrollit {
    overflow: scroll;
    height:100%;
}

#content {
	margin: auto;
	width: 55%;
	padding: 10px;
}

#content li {
	margin: 10px;
	font-size: 30px;
}

#cardHeader {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	background: white;
	text-align: center;
}